<!doctype html>
<html>
    <head>
        <title>
            practice
        </title>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-event-set-component@5.0.0/dist/aframe-event-set-component.min.js"></script>
    </head>
    <body>
        <a-scene>
            <a-camera>
                <a-entity cursor position="0 0 -1"
                geometry="primitive: sphere; radius:0.005" material="shader: flat; opacity: 0.5">
                </a-entity>
            </a-camera>
            <a-plane color="#999999"
            rotation ="-90 0 0 "
            scale="1000 1000 1"></a-plane>
            {% set xmin = 3 %}
            {% set xmax = 4 %}
            {% set ymin = 5 %}
            {% set ymax = 6 %}
            {% set sc2 = namespace(yscale = 10.0/(out[ymax]-out[ymin])) %}
            {% set sc = namespace(xscale = 10.0/(out[xmax]-out[xmin])) %}
            {% set colorsets = ["#AA0000","#00AA00","#0000AA","#AAAA00", "#00AAAA"] %}
            {% set ns = namespace(id=0) %}
            {% for lst in out[0] %}
            {% set vr = namespace(var=loop.index) %}
            <a-text value="{{out[1][loop.index-1]}}" position="-5 1 {{vr.var*-5}}"
            geometry="primitive: plane; width: 3; height: 2" material = "color: {{colorsets[vr.var-1]}}" align="center"
            height="20"
            width="20">
            </a-text>
            {% for val in lst %}
            {% set ns.id=ns.id+1 %}
                <a-sphere 
                position="{{(out[2][loop.index-1]-out[xmin])*sc.xscale}} {{(val-out[ymin])*sc2.yscale}} {{vr.var*-5}}"
                color="{{colorsets[vr.var-1]}}"
                radius="0.05"
                event-set__enter="_event: mouseenter; radius: 0.1"
                event-set__leave="_event: mouseleave; radius: 0.05"
                event-set__enter1="_event: mouseenter; _target: #data{{ns.id}}; visible: true"
                event-set__leave1="_event: mouseleave; _target: #data{{ns.id}}; visible: false">
                    <a-text id="data{{ns.id}}" 
                        value="m: {{out[1][vr.var-1]}} ph: {{out[2][loop.index-1]}} c: {{val}}"
                        visible="false"
                        geometry="primitive: plane; width: 4; height: 0.75"
                        material = "color: {{colorsets[vr.var-1]}}"
                        position="0 1 0"
                        align="center">
                    </a-text>
                </a-sphere>
            {% endfor %}
            {% endfor %}
        </a-scene>
        <!--
        <form class = "grid" action ="/result" method="POST">
            <center>
                {% if name %}
                {% endif %}
            </center>
            <label for ="Name">Enter your Name:</label>
            <input type="text" name="name" id = "name">
            <center><input type="Submit" class="file_submit"></center>
        </form>
        -->
    </body>
</html>