<!doctype html>
<html>
    <head>
        <title>
            practice
        </title>
        <script>
        </script>
    </head>
    <body>
        <form class = "grid" action = "/result" method = "POST">
            <label for="Name">
                Enter your molecules :
            </label>
            <input type ="text" name="name" id="name"></input>
            <p></p>
            <label for="beta1">
                Enter your first log_beta :
            </label>
            <input type ="text" name="beta1" id="beta1"></input>
            <p></p>
            <label for="beta2">
                Enter your second log_beta :
            </label>
            <input type ="text" name="beta2" id="beta2"></input>
            <p></p>
            <label for="c01">
                Enter your first initial concentration :
            </label>
            <input type ="text" name="c01" id="c01"></input>
            <p></p>
            <label for="c02">
                Enter your second initial concentration :
            </label>
            <input type ="text" name="c02" id="c02"></input>
            <p></p>
            <label for="cadded0">
                Enter your first concentration added:
            </label>
            <input type ="text" name="cadded0" id="cadded0"></input>
            <p></p>
            <label for="cadded1">
                Enter your second concentration added:
            </label>
            <input type ="text" name="cadded1" id="cadded1"></input>
            <center>
                <input type="Submit" class = "file_submit">
            </center>
        </form>
    </body>
</html>