<!doctype html>
<html>
    <head>
        <title>
            practice
        </title>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
            <script src="https://rawgit.com/mayognaise/aframe-mouse-cursor-component/master/dist/aframe-mouse-cursor-component.min.js%22%3E"></script>
            <script src="https://cdn.rawgit.com/zcanter/aframe-gradient-sky/master/dist/gradientsky.min.js%22%3E"></script>
            <script src="dist/aframe-material.js"></script>
            <script type="text/javascript">AFRAME.ASSETS_PATH = "./assets";</script>
    </head>
    <body>
        <a-scene>
        <a-entity laser-controls="hand: right"></a-entity>

        <a-entity> 
            <a-camera look-controls-enabled wasd-controls-enabled mouse-cursor></a-camera>
        </a-entity>

      <!-- BEGIN INPUTS/KEYBOARD -->
      <a-keyboard physical-keyboard="true"></a-keyboard>
      <a-input position="-0.7 1 -2.5" placeholder="Enter Here" color="black" width="1"></a-input>
      <!-- END INPUTS/KEYBOARD -->
    </a-scene>
    </body>
</html>