<!doctype html>
<html>
    <head>
        <title>
            practice
        </title>
        <script>
        </script>
    </head>
    <body>
        <form class = "grid" action = "/result" method = "POST">
            <label for="Name">
                Enter your molecules :
            </label>
            <input type ="text" name="name" id="name"></input>
            <label for="num">
                Enter your log_beta :
            </label>
            <input type ="text" name="num" id="num"></input>
            <center>
                <input type="Submit" class = "file_submit">
            </center>
        </form>
    </body>
</html>